* {box-sizing: border-box; font-family: 'Nunito', sans-serif;}
.col-0_5 {width: 4.165%; float: left;}
.col-1 {width: 8.33%; float: left;}
.col-2 {width: 16.66%; float: left;}
.col-3 {width: 25%; float: left;}
.col-4 {width: 33.33%; float: left;}
.col-5 {width: 41.66%; float: left;}
.col-6 {width: 50%; float: left;}
.col-7 {width: 58.33%; float: left;}
.col-8 {width: 66.66%; float: left;}
.col-9 {width: 75%; float: left;}
.col-10 {width: 83.33%; float: left;}
.col-11 {width: 91.66%; float: left;}
.col-12 {width: 100%; float: left;}

h1 {
    font-size: 2.8vw;
    margin: 0;
    color: #444;
}
h2 {
    font-size: 2.5vw;
    color: white;
}
h3 {
    font-size: 4vw;
    margin:  20px auto;
    text-align: center;
    color: #444;
}
h3 a {
    display: block;
    text-decoration: none;
    font-size: 1.5vw;
    margin:  20px auto;
    text-align: center;
    color: white;
}
h3 a:hover {
    display: block;
    text-decoration: none;
    font-size: 1.5vw;
    margin:  20px auto;
    text-align: center;
}
h2 a {
    display: block;
    text-decoration: none;
    margin-left: 20px;
    font-size: 2vw;
    text-align: center;
    color: white ;
    float: left;
}
p {
    text-align: left;
    color: white;
    text-decoration: none;
    font-size: 2vw;
}
a {
    text-decoration: none;
}
body{
    margin: 0;
}
div h4 a {
    display: block;
    color: #444444;
    margin: 15px auto;
    display: block;
    text-decoration: none;
}
h4 a:hover {
    color: #333;
    display: block;
    text-decoration: none;
}

#continer {

    margin: 0 auto;
}
.navbar {
    height: 10vw;
    margin: 0 auto;
    overflow: hidden;
    text-decoration: none;
    display: block;
}
#navbarLinks {
  float: left;
  display: block;
  text-decoration: none;
  color: white;
  margin: 20px auto;
  font-size: 2.5vw;
}
#navbarLinks:hover {
    float: left;
    display: block;
    text-decoration: none;
    margin: 15px auto;
    transition: 0.8s;
    color: #444;
}
.heightspace {
    min-height: 25px;
}
header div img {
    margin: 10px auto;
}
#darkbackground{
    background-color: #444;
}
.nameSpacer {
    margin-bottom: 20px;
    max-width: 100%;
}
.link_logo {
    margin: 0 auto;
}
@media only screen and (max-width: 900px) {
    .linkBody{
       width: 33% !important;
   }
    .link_logo {
        height: 55%;
        margin: 0 auto;
        margin-left: 5px;
    }
}
.white {color: white; margin: 10px;}
.grey {color: grey;}
.left {float: left;}
img{-webkit-user-drag: none;} /*stops img ghost dragging */

.menu {
    margin-top: 3%;
    font-size: 4vw;
    color: #444; 
}
.overlay {
    height: 100%;
    display: none;
    position: fixed;
    overflow: scroll;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.94);
}
.overlay-content {
    top: 4vh;
    margin-bottom: 4vh;
    position: relative;
    overflow: scroll;
}
.overlay-contents {
    top: 25%;
    text-align: center;
    font-size: 3.5vw;
}
.overlay a {
    padding: 8px;
    text-decoration: none;
    color: white;
    display: block;
    transition: 0.3s;
}
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}
.closebtn {
    position: absolute;
    right: 1.5vw;
    font-size: 7vw;
    z-index: 2;
}
.ultimate-typed-main {
    display: inline-block;
    margin: 0 5px 0 5px;
    height: 5vh;
}

 h5  {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 3vw;
    vertical-align: baseline;
}
.vc_custom_1521712015956 {
    margin-top: -5px !important;
    padding-top: 0px !important;
}
span .typed-cursor {
    opacity: 1;
    font-weight: 100;
    -webkit-animation: ult-blink .7s infinite;
    animation: ult-blink .7s infinite;
    color: #444;
}

.homePageHalf {
    height: 25vh;
}