* {box-sizing: border-box; font-family: Futura, "Trebuchet MS", Arial, sans-serif;}

.col-1 {width: 8.33%; float: left;}
.col-2 {width: 16.66%; float: left;}
.col-3 {width: 25%; float: left;}
.col-4 {width: 33.33%; float: left;}
.col-5 {width: 41.66%; float: left;}
.col-6 {width: 50%; float: left;}
.col-7 {width: 58.33%; float: left;}
.col-8 {width: 66.66%; float: left;}
.col-9 {width: 75%; float: left;}
.col-10 {width: 83.33%; float: left;}
.col-11 {width: 91.66%; float: left;}
.col-12 {width: 100%; float: left;}

h1 {
    font-size: 2.8vw;
    text-align: center;
    color: white;
}
h2 {
    font-size: 2em;
    color: #444;
}
h3 {
    font-size: 1.5em;
    margin:  20px auto;
    text-align: center;
    color: #444;
}
h3 a {
    display: block;
    text-decoration: none;
    font-size: 1.5em;
    margin:  20px auto;
    text-align: center;
    color: white;
}
h3 a:hover {
    display: block;
    text-decoration: none;
    font-size: 1.5em;
    margin:  20px auto;
    text-align: center;
    transition: 0.8s;
}
h2 a {
    display: block;
    text-decoration: none;
    margin-left: 20px;
    font-size: 0.7em;
    text-align: center;
    transition: 0.7s;
    color: white ;
    float: left;
}
p {
    text-align: left;
    color: white;
    text-decoration: none;
}
a {
    text-decoration: none;
}
body{
    margin: 0;
}
div h4 a {
    display: block;
    color: #444444;
    margin: 15px auto;
    display: block;
    text-decoration: none;
}
h4 a:hover {
    transition: 0.8s;
    color: #333;
    display: block;
    text-decoration: none;
}
#nav-title {
    text-decoration: none !important;
    color: white;
}
#nav-title :hover {
    transition: 0.8s;
    color: #444;
}
#continer {
    width: 95%;
    margin: 0 auto;
}
.navbar {
    background-color: #4A90E2;
    margin: 0 auto;
    overflow: hidden;
    text-decoration: none;
    display: block;
}
#navbarLinks {
  float: left;
  display: block;
  text-decoration: none;
  color: white;
  margin: 20px auto;
  font-size: 2.5vw;
}
#navbarLinks:hover {
    float: left;
    display: block;
    text-decoration: none;
    margin: 15px auto;
    transition: 0.8s;
    color: #444;
}
.heightspace {
    min-height: 25px;
}
header div img {
    margin: 10px auto;
}
#portfolio-container {
    background-color: #444;
}
.nameSpacer {
    margin-bottom: 20px;
    max-width: 100%;
}
.link_logo {
    margin: 0 auto;
    margin-left: 10px;
}
@media only screen and (max-width: 1240px) {
    h1,h2,h3,{
        font-size: 1.5em ;
    }
    .link_logo {
        height: 150px;
        margin: 0 auto;
        margin-left: 5px;
    }
}
@media only screen and (max-width: 900px) {
    h1,h2 {
        font-size: 1em;
        text-align: center;
    }
    h3, a{
        font-size: 0.6em !important;
    }
    h2 a{
        font-size: 0.75em !important;
    }
    .linkBody{
       width: 33% !important;
   }
    .link_logo {
        height: 55%;
        margin: 0 auto;
        margin-left: 5px;
    }
}
.white {color: white; margin: 10px;}
.grey {color: grey;}
.left {float: left;}
img{-webkit-user-drag: none;} /*stops img ghost dragging */
#home {
    display: none;
}
#preload {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1001;
    display: flex;
    align-items: center;
    justify-content: center;
}
#preload svg {
    width: 200px;
    height: 200px;
}
#preload svg rect {
    fill: #1e73be;
}
.SVG1 {
    width:4px; 
    height:7px;
    fill:#333;
}
.SVG2 {
    width:4px; 
    height:7px; 
    fill:#333; 
}
.SVG3 {
    width:4px; 
    height:7px; 
    fill:#333; 
}
.menu {
    margin-top: 5%;
    font-size: 3vw;
    color: white;
}
.overlay {
    height: 100%;
    display: none;
    position: fixed;
    overflow: scroll;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
}
.overlay-content {
    top: 4vh;
    margin-bottom: 4vh;
    position: relative;
    overflow: scroll;
}
.overlay-contents {
    top: 25%;
    text-align: center;
    font-size: 3.5vw;
}
.overlay a {
    padding: 8px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}
.closebtn {
    position: absolute;
    right: 1.5vw;
    font-size: 7vw;
    z-index: 2;
}
