* {box-sizing: border-box; font-family: Futura, "Trebuchet MS", Arial, sans-serif;}

.onecol{width: 8.33%; float: left;}
.twocol{width: 16.66%; float: left;}
.threecol{width: 24.99%; float: left;}
.fourcol{width: 33.33%; float: left;}
.fivecol{width: 41.66%; float: left;}
.sixcol{width: 49.99%; float: left;}
.sevencol{width: 58.33%; float: left;}
.eightcol{width: 66.66%; float: left;}
.ninecol{width: 74.99%; float: left;}
.tencol{width: 83.33%; float: left;}
.elevencol{width: 91.66%; float: left;}
.twelvecol{width: 100%; float: left;}

h1 {
    font-size: 2em;
    text-align: center;
}
h2 {
    font-size: 2em;
    color: #444;
}
h3 {
    font-size: 1.5em;
    margin:  20px auto;
    text-align: center;
    color: #444;
}
h3 a {
    display: block;
    text-decoration: none;
    font-size: 1.5em;
    margin:  20px auto;
    text-align: center;
    color: white;
}
h3 a:hover {
    display: block;
    text-decoration: none;
    font-size: 1.5em;
    margin:  20px auto;
    text-align: center;
    transition: 0.8s;
}
h2 a {
    display: block;
    text-decoration: none;
    margin-left: 20px;
    font-size: 0.7em;
    text-align: center;
    transition: 0.7s;
    color: white ;
    float: left;
}
p {
    text-align: left;
    color: white;
    text-decoration: none;
}
a {
    text-decoration: none;
}
body{
    margin: 0;
}
div h4 a {
    display: block;
    color: #444444;
    margin: 15px auto;
    display: block;
    text-decoration: none;
}
h4 a:hover {
    transition: 0.8s;
    color: #333;
    display: block;
    text-decoration: none;
}
#nav-title {
    text-decoration: none !important;
    color: white;
}
#nav-title :hover {
    transition: 0.8s;
    color: #444;
}
#continer {
    max-width: 1280px;
    min-height: 800px;
    width: 100%;
    margin: 0 auto;
}
.navbar {
    background-color: #4A90E2;
    margin: 0 auto;
    overflow: hidden;
    text-decoration: none;
    display: block;
}
#navbarLinks {
  float: left;
  display: block;
  text-decoration: none;
  color: white;
  margin: 20px auto;
  font-size: 2.5vw;
}
#navbarLinks:hover {
    float: left;
    display: block;
    text-decoration: none;
    margin: 15px auto;
    transition: 0.8s;
    color: #444;
}
.heightspace {
    min-height: 25px;
}
header div img {
    margin: 10px auto;
}
#portfolio-container {
    background-color: #444;
}
.nameSpacer {
    margin-bottom: 20px;
    max-width: 100%;
}
.link_logo {
    margin: 0 auto;
    margin-left: 10px;
}
@media only screen and (max-width: 1240px) {
    h1,h2,h3,{
        font-size: 1.5em ;
    }
    .link_logo {
        height: 150px;
        margin: 0 auto;
        margin-left: 5px;
    }
}
@media only screen and (max-width: 900px) {
    h1,h2 {
        font-size: 1em;
        text-align: center;
    }
    h3, a{
        font-size: 0.6em !important;
    }
    h2 a{
        font-size: 0.75em !important;
    }
    .linkBody{
       width: 33% !important;
   }
    .link_logo {
        height: 55%;
        margin: 0 auto;
        margin-left: 5px;
    }
}
.white {color: white; margin: 10px;}
.grey {color: grey;}
.left {float: left;}
img{-webkit-user-drag: none;} /*stops img ghost dragging */
